body {
    background-color: #526D82;
}

.navbar ul{
    float: right;
    margin-left: 10px;
}
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 8px;
    }
a {
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  text-size-adjust: auto;
  max-width: 100%;
}

h1 {
    color: #DDE6ED;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 3rem;
    text-align: center;
    margin-top: 15px;
    text-shadow: 0 0 5px #C8C8C8;
    text-size-adjust: auto;
    max-width: 100%;
}

p {
    color: whitesmoke;
    font-family: monospace;
    font-size: 2vw;
    width:1000px;margin:0 50%;position:relative;left:-500px;
    text-align: left;
    text-size-adjust: auto;
    max-width: 100%;
}
